:root {

    --primary: #222831;
    --primary-weak: #393e46;
    --background: #f2f2f2; 
    --background: #ffffff;
    --standout: #f96d00;
    --pink: #BF408C;
    --green: #0ab90a99;
    --blue: #41d1eb;

    --font: 'Roboto', sans-serif;
    --font-size: 16px;
    --font-weight: 400;
}

html {
  background-image: url("assets/background.webp");
  background-repeat:repeat;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: var(--background);
}

ul {
    list-style: none;
}


body, h1, h2, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary);
    background-color: var(--background);
    margin: 1rem auto auto auto;
    max-width: 1200px;
}


.u-pink {
    text-decoration-color: var(--pink);
    text-decoration-thickness: 3px;
}

.b-pink {
    background-color: var(--pink);
}

.u-green {
    text-decoration-color: var(--green);
    text-decoration-thickness: 3px;
}

.b-green {
    background-color: var(--green);
}

.u-blue {
    text-decoration-color: var(--blue);
    text-decoration-thickness: 3px;
}

.b-blue {
    background-color: var(--blue);
}


.bloody {
    color: red;
    position: relative;
    text-shadow: 1px 1px 2px darkred;
}

.gold {
    color: gold;
    position: relative;
    text-shadow: 1px 1px 2px darkgoldenrod;
}


header {
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    
    & .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .nav-links, & .social-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        
            & li {
                margin-right: 1rem;
            }
        }
    }

}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-weak);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    & h2 {
        margin: 1rem;
        margin-bottom: 0;
        width: 100%;
        background-color: var(--primary);
        border-radius: 5px;
    }
}


.bio {
    & img {
        width: 100px;
        border-radius: 50%;
        margin: 1rem;
    }
}

.hobbies {
    & ul {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);

        & li:nth-child(1) {
            grid-column: 1;
            grid-row: 1 / 4;
        }

        & li:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        & li:nth-child(3) {
            grid-column: 2;
            grid-row: 2;
        }
    }

    & li {
        padding: 1rem;
        margin: 1rem;
        background-color: var(--primary);
        border-radius: 5px;
    }

    & .chessboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & img {
            width: 200px;
            border-radius: 5px;
            margin: 1rem;
        }
    }

}

.research {
    & ul {
        & li {
            margin: 1rem;

            & .title > p {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                background-color: var(--primary);
                border-radius: 5px;
            }

            & .description {
                font-size: 0.8rem;
            }

            & .links {
                background-color: var(--primary);
                border-radius: 5px;
            }
        }
    }


    & .authors {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: var(--primary-weak);
        color: white;
        text-align: center;

        & .author {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1rem;
            padding: 0rem;
            background-color: var(--primary);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;

            & img {
                /* Keep aspect ratio  but limit height */
                width: 120px;
                height: 160px;
                object-fit: cover;
                border-radius: 10%;
                margin: 1rem;
            }

            & h3 {
                margin: 1rem;
                background-color: var(--primary-weak);
                border-radius: 5px;
            }
        }
    }
}



footer {
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

